@value whiteBasic from '../../../../../css/colors.css';
@value black from '../../../../../css/colors.css';
@value green from '../../../../../css/colors.css';
@value gray from '../../../../../css/colors.css';
@value gray5 from '../../../../../css/colors.css';

.root {
    padding-bottom: 30px;
    background: gray5;
}

.titles {
    display: flex;
    justify-content: center;
    background: gray5;
    padding: 0 16px;

    @media (max-width: 600px) {
        justify-content: space-around;
        padding: 10px 16px;
    }

    @media (max-width: 360px) {
        justify-content: space-between;
    }
}

.title {
    font: 18px/21px RoundedElegance;
    color: gray;
    position: relative;
    padding: 35px 25px;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        bottom: 32px;
        left: 25px;
        width: calc(100% - 50px);
        height: 2px;
        background: green;
        display: none;
    }

    &.active {
        color: black;

        &:before {
            display: block;
        }
    }

    @media (max-width: 600px) {
        padding: 10px 0;
        margin-right: 10px;
        font-size: 16px;
        line-height: 18px;

        &:last-child {
            margin-right: 0;
        }

        &:before {
            width: 100%;
            left: 0;
            bottom: 5px;
        }
    }
}

.contentWrap {
    background: whiteBasic;
}

.content {
    margin: 0 auto;
    max-width: 904px;
    box-sizing: content-box;
    padding: 35px 16px;

    @media (max-width: 600px) {
        padding: 20px 16px;
    }
}

.description {
    margin-top: -30px;

    @media (max-width: 600px) {
        margin-top: -15px;
    }
}

.descriptionTitle {
    font: 18px/21px RoundedElegance;
    color: black;
    margin-top: 30px;

    &:first-child {
        margin-top: 0;
    }
}

.descriptionText {
    font: 16px/18px RoundedElegance;
    color: rgba(35, 35, 35, 0.7);
    margin-top: 10px;

    @media (max-width: 600px) {
        font-size: 14px;
        line-height: 16px;
    }
}

.row {
    display: flex;
    border-bottom: 1px solid rgba(216, 216, 216, 0.5);
    margin-top: 30px;

    &:first-child {
        margin-top: 0;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        margin-top: 18px;
    }
}

.characterTitle {
    width: 50%;
    font: 18px/21px RoundedElegance;
    color: black;
    padding-right: 10px;

    @media (max-width: 600px) {
        font-size: 16px;
        line-height: 18px;
    }
}

.characterText {
    width: 50%;
    font: 16px/18px RoundedElegance;
    color: rgba(35, 35, 35, 0.7);

    @media (max-width: 600px) {
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.characterSpan {
    color: gray;
    font-size: 12px;

    @media (max-width: 600px) {
        display: block;
        font-size: 10px;
    }
}
