@value blackLight from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';
@value gray1 from '../../../../../css/colors.css';
@value gray4 from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';

.sort {
    margin: 11px 0 0 10px;
    position: relative;
    height: 36px;

    &.active {
        .activeOption {
            &:before {
                transform: rotate(180deg);
                transition: 0.25s ease-out;
                border-color: blackLight transparent transparent transparent;
            }
        }

        .listOptions {
            display: inline-block;
        }
    }

    @media (max-width: 600px) {
        margin-top: 0;
        width: calc(50% - 10px);
    }
}

.activeOption {
    background: gray4;
    box-sizing: border-box;
    font: 300 14px/17px GilroyRegular;
    color: blackLight;
    padding: 6px 41px 6px 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    min-width: 200px;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: greenBasic transparent transparent  transparent;
        position: absolute;
        top: 50%;
        right: 16px;
        margin-top: -5px;
        transition: 0.25s ease-in;
        transition-property: transform, border-color;
    }

    @media (max-width: 600px) {
        line-height: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        min-width: auto;
    }
}

.listOptions {
    border: 2px solid gray1;
    position: absolute;
    top: 100%;
    right: 0;
    background: whiteBasic;
    min-width: 100%;
    width: max-content;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 3;
}

.option {
    padding: 5px;
    font: 14px/17px GilroyRegular;
    cursor: pointer;
}
