@value gray3 from '../../../../../css/colors.css';

.articles {
    position: relative;
    height: 100%;
    background-color: gray3;
    padding-bottom: 76px;

    @media (max-width: 850px) {
        padding-bottom: 96px;
    }

    @media (max-width: 600px) {
        padding-bottom: 30px;
    }
}

.articlesContainer {
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
