@value blackBasic from '../../../../../css/colors.css';
@value black from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';

.article {
    font-family: RoundedElegance;

    @media (max-width: 1280px) {
        padding: 0 16px;
    }
}

.articleContainer {
    max-width: 1240px;
    width: 100%;
    margin: 30px auto;

    @media (--media-tablet-s) {
        margin: 20px auto 30px;
    }
}

.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (max-width: 1200px) {
        margin-bottom: 25px;
    }
}

.articleContainer h1,
.articleContainer h2 {
    color: black;
    text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
}

.articleContainer h1 {
    font-size: 24px;
    line-height: 28px;
    position: relative;

    @media (--media-tablet-s) {
        font-size: 20px;
        line-height: 23px;
    }

    &:after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 60px);
        width: 190px;
        height: 2px;
        background-color: black;

        @media (max-width: 1200px) {
            top: auto;
            transform: translateY(0);
            left: 0;
            bottom: -10px;
        }
    }
}

.date {
    font-size: 14px;
    line-height: 16px;
    color: blackBasic;

    @media (max-width: 1023px) {
        display: none;
    }
}

.introduction {
    margin-bottom: 30px;
}

.articleContainer h2 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
}

.articleContainer p {
    max-width: 900px;
    font-size: 16px;
    line-height: 18px;
    color: rgba(35, 35, 35, 0.7);
}

.articleContainer ul li {
    color: rgba(35, 35, 35, 0.7);
    padding-left: 25px;
    margin-bottom: 15px;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    &:last-child {
        margin-bottom: 30px;
    }
}

.articleContainer img {
    max-width: 100%;

    @media (max-width: 541px) {
        max-width: none;
        margin-left: -16px;
        width: 100vw;
        height: 180px;
    }
}
