@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value blackLighter from '../../../../../css/colors.css';
@value gray0 from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';

.commentsContainer {
    font-family: RoundedElegance;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;

    @media  (--media-desktop-s){
        padding: 0 58px;
    }
    @media  (--media-desktop-m){
        padding: 0 128px;
    }
    @media  (--media-desktop-l){
        padding: 0 228px;
    }
    @media (max-width: 850px) {
        flex-direction: column;
        padding: 0;
    }
}

.comments {
    max-width: 620px;
    margin-right: 50px;

    @media (max-width: 850px) {
        max-width: 100%;
        margin-right: 0;
    }
}

.hiddenComments{
    overflow: hidden;
    max-height: 0;
    transition: 0.2s ease-out;

    &.active {
         max-height: 10000px;
         transition: 0.2s ease-in;
    }
}

.comment {
    position: relative;
    padding-bottom: 30px;

    &:after {
        position: absolute;
        left: 0;
        content: '';
        background-color: rgba(216, 216, 216, 0.5);
        width: 100%;
        height: 1px;
    }

    @media  (--media-tablet-l){
        width: 325px;

        &:after {
             max-width: 305px;
         }
    }
    @media  (--media-desktop-s){
        width: 400px;

        &:after {
             max-width: 350px;
         }
    }
    @media  (--media-desktop-m){
        width: 520px;

        &:after {
             max-width: 470px;
        }
    }
    @media  (--media-desktop-l){
        width: 620px;

        &:after {
             max-width: 580px;
         }
    }
    @media (max-width: 850px) {
        width: 100%;

        &:after {
             max-width: 100%;
         }
    }
}

.commentInfo {
    display: flex;
    margin-bottom: 15px;

    @media (max-width: 600px) {
        flex-direction: column;
        margin-bottom: 10px;
    }
}

.name {
    font-size: 18px;
    line-height: 21px;
    color: blackLight;

    @media (max-width: 600px) {
        margin-bottom: 10px;
        font-size: 16px;
    }
}

.stars {
    display: flex;
    margin-left: auto;

    @media (max-width: 600px) {
        margin-left: 0;
    }
}

.star, .emptyStar {
    width: 14px;
    height: 14px;
    background: url('./img/rating-yellow.png') no-repeat center;
    background-size: cover;
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.emptyStar{
    background-image: url('./img/rating-gray.png');
}

.date {
    font-size: 12px;
    line-height: 14px;
    color: gray0;
    margin-left: 50px;

    @media (max-width: 600px) {
        position: absolute;
        right: 0;
    }
}

.commentText {
    font-size: 16px;
    line-height: 18px;
    color: rgba(35, 35, 35, 0.7);
    margin-bottom: 15px;

    @media (max-width: 600px) {
        font-size: 14px;
        line-height: 16px;
    }
}

.showAll {
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: blackLighter;
    cursor: pointer;

    @media (max-width: 850px) {
        display: none;
    }
}

.showAllMobile {
    display: none;

    @media (max-width: 850px) {
        display: inline-block;
        margin-right: 45px;

        @media (max-width: 350px) {
            margin-right: 15px;
        }
    }
}

.feedbackTitle {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    color: blackLight;
    text-decoration-line: underline;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-out;

    &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: greenBasic transparent transparent transparent;
        top: 50%;
        right: -30px;
        margin-top: -5px;
        transition: 0.5s ease-out;
        transition-property: transform, border-color;

        @media (max-width: 350px) {
            right: -25px;
        }
    }

    &.active {
        text-decoration-color: transparent;
    }

    &.active:after {
        transform: rotate(180deg);
    }
}

.firstFeedbackTitle{
    text-decoration-line: none;

    &:after {
        display: none;
     }
}

.form {
    overflow: hidden;
    width: 403px;
    max-height: 0;
    transition: 0.2s ease-out;

    &.active {
         margin-top: 30px;
         max-height: 400px;
         transition: max-height 0.2s ease-in;
    }

    @media (max-width: 850px) {
        width: 100%;
    }
}

.userRatingWrapper {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.userRatingText {
    font-size: 16px;
    line-height: 18px;
    color: blackLight;
}

.userRating {
    display: flex;
}

.rating {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &.starYellow {
        background-image: url('./img/rating-yellow.png');
    }

    &.starGray {
        background-image: url('./img/rating-gray.png');
    }
}

.commentInput {
    font-family: RoundedElegance;
    font-size: 16px;
    line-height: 18px;
    color: blackLight;
    width: 100%;
    background-color: whiteBasic;
    border: 1px solid gray0;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 20px;

    &:last-of-type {
        margin-bottom: 15px;
    }

    &::placeholder {
        color: gray0;
    }
}

.inputText {
    height: 130px;
    resize: none;
}

.formButtonsWrapper{
    display: flex;

    @media (max-width: 600px) {
        justify-content: space-between;
    }
}

.feedbackBtn, .cancelBtn {
    @mixin removeDefaultButton;
    font-family: RoundedElegance;
    font-size: 18px;
    padding: 10px 20px;
    line-height: 21px;
    cursor: pointer;

    @media (max-width: 340px) {
        font-size: 16px;
        padding: 8px 16px;
    }
}

.feedbackBtn {
    margin-right: 20px;
    background-color: blackLight;
    color: whiteBasic;
}

.cancelBtn {
    background-color: gray3;
    color: gray0;
}
