@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';

.deliveryAndPayment {
    height: 100%;
    background-color: gray3;
    padding-bottom: 40px;

    @media (max-width: 600px) {
        padding-bottom: 30px;
    }
}

.deliveryAndPaymentContainer {
    background-color: whiteBasic;
    height: calc(100% - 40px);
}

.content {
    max-width: 1360px;
    margin: 0 auto;
    font-family: RoundedElegance;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 600px) {
        align-items: stretch;
        padding: 0 16px;
    }
}

.title {
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
    color: blackLight;
    text-shadow: -0.2px 0 blackLight, 0 0.2px blackLight, 0.2px 0 blackLight, 0 -0.2px blackLight;
    position: relative;

    @media (max-width: 768px) {
        margin-top: 20px;
        font-size: 20px;
        line-height: 23px;
    }

    @media (max-width: 600px) {
        width: 100%;
    }

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: calc(100% + 40px);
        width: 287px;
        height: 2px;
        background-color: blackLight;

        @media (max-width: 950px) {
            width: 200px;
        }

        @media (max-width: 768px) {
            width: 180px;
        }

        @media (max-width: 680px) {
            width: 130px;
        }

        @media (max-width: 600px) {
            width: 100px;
            right: 0;
        }

        @media (max-width: 359px) {
            width: 60px;
        }
    }
}

.options {
    margin: 110px 0 168px;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    color: blackLight;

    @media (max-width: 600px) {
        flex-direction: column;
        margin: 20px 0 30px;
    }
}

.delivery {
    margin-right: 180px;

    @media (max-width: 768px) {
        margin-right: 140px;
    }

    @media (max-width: 680px) {
        margin-right: 80px;
    }

    @media (max-width: 600px) {
        margin: 0 0 30px 0;
    }
}

.optionsTitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
    color: blackLight;
    text-shadow: -0.2px 0 blackLight, 0 0.2px blackLight, 0.2px 0 blackLight, 0 -0.2px blackLight;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 18px;
    }
}

.option {
    padding-left: 25px;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: blackLight;
    }
}

.delivery .option {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 600px) {
        margin-bottom: 10px;
    }
}

.payment .option {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}
