@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value blackLighter from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';

.article {
    max-width: 605px;
    width: 50%;
    background-color: whiteBasic;
    padding: 20px;
    margin: 15px;
    font-family: GilroyRegular;
    display: flex;
    flex-direction: column;

    @media (max-width: 1280px) {
        width: 45%;
    }

    @media (max-width: 850px) {
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: 600px) {
        margin: 0 0 20px 0;
        padding: 20px 16px;
    }
}

.titleLink {
    text-decoration: none;
}

.title {
    font-size: 24px;
    line-height: 36px;
    color: blackLight;
    text-shadow: -0.2px 0 blackLight, 0 0.2px blackLight, 0.2px 0 blackLight, 0 -0.2px blackLight;
    margin-bottom: 20px;
    transition: .3s ease;

    &:hover{
        color: greenBasic;
     }

    @media (max-width: 600px) {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 10px;
    }
}

.titleUnderline {
    border-bottom: 1px solid blackLight;

    &:hover{
         border-bottom: 1px solid greenBasic;
    }
}

.article p {
    font-size: 18px;
    line-height: 27px;
    color: rgba(35, 35, 35, 0.7);
    margin-bottom: 20px;

    @media (max-width: 600px) {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 15px;
    }
}

.moreInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.readMoreBtn {
    @mixin removeDefaultButton;
    padding: 0;
    font-family: GilroyRegular;
    font-size: 18px;
    line-height: 21px;
    color: blackLighter;
    cursor: pointer;
    position: relative;
    transition: .3s ease;

    &:after {
        position: absolute;
        content: '';
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: blackLighter;
         transition: .3s ease;
    }

     &:hover{
        color: greenBasic;

        &:after{
             background-color: greenBasic;
         }
      }

    @media (max-width: 600px) {
        font-size: 16px;
        line-height: 18px;
    }
}

.date {
    font-size: 14px;
    line-height: 16px;
}
