@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value green from '../../../../../css/colors.css';

.footer {
    background-color: whiteBasic;
}

.footerContainer {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 60px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column;
        height: 251px;
    }
}

.iconsWrapper {
    display: flex;

    @media (max-width: 992px) {
        order: 2;
    }
}

.instagram,
.facebook,
.youtube {
    width: 36px;
    height: 36px;
    transition: .5s ease-out;
}

.instagramLink,
.facebookLink {
    margin-right: 30px;
}

.instagram {
    background-image: url("./img/instagram.svg");
}

.facebook {
    background-image: url("./img/facebook.svg");

    &:hover {
        background-image: url("./img/facebook-hover.svg");
    }
}

.youtube {
    background-image: url("./img/youtube.svg");
}

.developedWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: blackLight;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    line-height: 14px;

    @media (max-width: 992px) {
        order: 3;
        margin: 20px;
        position: static;
        transform: translateX(0);
    }
}

.stubbsText {
    font-family: HelveticaNeueCyrBold;
    text-decoration: none;
    color: blackLight;
    margin-top: 2px;
    padding-bottom: 2px;

    &:hover {
        border-bottom: 2px solid green;
        padding-bottom: 0;
    }
}

.contactsWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 992px) {
        order: 1;
        align-items: center;
        text-align: center;
        margin: 20px 0 20px;
    }

    &:after {
        position: absolute;
        content: '';
        width: 287px;
        height: 1px;
        right: 0;
        bottom: -10px;
        background-color: green;

        @media (max-width: 992px) {
            right: auto;
            bottom: -5px;
        }
    }
}

.contactsLinkWrapperTop {
    display: flex;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}
.contactsLinkWrapperBottom {
    display: flex;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
    }
}

.contactsLink {
    font-family: RoundedElegance;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    color: blackLight;

    @media (max-width: 992px) {
        margin-bottom: 10px;
        margin-top: 0;
    }
}

.contactsLinkWrapperTop .contactsLink:first-child {
    margin-right: 52px;

    @media (max-width: 992px) {
        margin-right: 0;
    }
}
.contactsLinkWrapperBottom .contactsLink:first-child {
    margin-right: 47px;

    @media (max-width: 992px) {
        margin-right: 0;
    }
}
