@value whiteBasic from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';
@value gray4 from '../../../../../css/colors.css';

.productPage {
    position: relative;
}

.subCategoriesWrap {
    padding: 0 16px;
    background: gray3;
    width: 100%;
    margin-top: -40px;

    @media (max-width: 1210px) {
        border-top: 1px solid white;
        margin: 0;
    }

    @media (max-width: 600px) {
        border: none;
        background: white;
    }
}

.subCategories {
    padding: 2px 225px 0px;
    max-width: 1240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    @media (max-width: 1210px) {
        padding: 2px 0 0 0;
    }

    @media (max-width: 960px) {
        justify-content: flex-start;
    }

    @media (max-width: 960px) {
        padding: 7px 0;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.subCategory {
    padding: 0 30px;
    font: 16px/38px RoundedElegance;
    color: blackLight;
    text-decoration: none;
    position: relative;

    &.active {
        background-color: greenBasic;
        color: whiteBasic;
    }

    @media (max-width: 750px) {
        padding: 0 15px;
    }

    @media (max-width: 660px) {
        padding: 0 5px;
    }

    @media (max-width: 600px) {
        font-size: 14px;
        line-height: 26px;
        padding: 0 10px;
    }

}

.filterPanelWrap {
    width: 100%;
    padding: 0 16px;
    background: whiteBasic;

    @media (max-width: 600px) {
        background: gray3;
        padding-top: 20px;
    }
}

.filterPanel {
    padding-right: 262px;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.btnFilter {
    height: 32px;
    width: calc(50% - 10px);
    padding: 8px 38px 8px 10px;
    position: relative;
    display: none;
    background: whiteBasic;
    font: 14px/16px RoundedElegance;
    color: blackBasic;

    &:before {
         content: url('./img/filter.jpg');
         margin-top: -6px;
         position: absolute;
         top: 50%;
         right: 10px;
     }

    @media (max-width: 600px) {
        display: block;
    }
}

.results {
    margin: 16px 0 10px 0;
    font: 16px/18px RoundedElegance;
    color: blackLight;
    white-space: nowrap;

    @media (max-width: 960px) {
        position: absolute;
        right: 16px;
        top: 12px;
        margin-top: 0;
    }
}

.productsSection {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    background: gray3;
    overflow: hidden;
}
