@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value blackLighter from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';
@value redBasic from '../../../../../css/colors.css';
@value gray0 from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';

.root {
    margin-top: 30px;

    @media (max-width: 1000px) {
        margin-top: 5px;
        width: 100%;
        max-width: 680px;
    }

    @media (max-width: 600px) {
        margin-top: 0;
    }
}

.advantagesTitle {
    margin: 15px 0 10px 0;
    font: 16px/18px RoundedElegance;
    cursor: pointer;
    color: blackLighter;
}

.advantage {
    margin-top: 6px;
    font: 14px/16px RoundedElegance;
    color: blackLighter;
}

.details {
    margin-top: 10px;
    display: block;
    font: 14px/16px RoundedElegance;
    color: blackLighter;
    text-decoration: underline;
    cursor: pointer;
}

.priceOld {
    padding-right: 25px;
    display: inline-block;
    font: 25px/41px RoundedElegance;
    color: gray0;
    text-decoration: line-through;
}

.price {
    margin: 10px 0;
    display: inline-block;
    font: 36px/41px RoundedElegance;
    color: blackLight;
}

.discountPrice{
    color: redBasic;
}

.sizesTitle {
    font: 16px/18px RoundedElegance;
    color: blackLighter;
}

.select {
    margin-top: 6px;
    position: relative;
    display: flex;
    flex-direction: column;

    &.active .option {
        display: block;
    }

    &.active .activeOption:before{
        transform: rotate(180deg);
        border-color: blackLight transparent transparent transparent;
    }
}

.activeOption, .option{
    height: 30px;
    min-width: 202px;
    padding: 5px 30px 4px 9px;
    position: relative;
    display: inline-block;
    border: 1px solid gray;
    background: whiteBasic;
    font: 18px/21px RoundedElegance;
    overflow: hidden;
    color: blackLight;
    cursor: pointer;
    white-space: nowrap;
}

.activeOption {
    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: greenBasic transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -5px;
        transition: 0.25s ease-out;
        transition-property: transform, border-color;
    }
}

.option{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.buttons {
    margin-top: 22px;
    display: flex;
}

.btnBuy {
    font: 24px/28px RoundedElegance;
    color: whiteBasic;
    padding: 6px 10px;
    min-width: 202px;
    border: 1px solid transparent;
    outline: none;
    background: blackLight;
    cursor: pointer;
    transition: .5s ease-out;

    &:hover {
        background-color: greenBasic;
    }

    &.active {
        color: blackLight;
        background-color: whiteBasic;
        border-color: greenBasic;
    }
}

.btnWishList {
    margin-left: 20px;
    position: relative;
    width: 56px;
    height: 40px;
    background: gray3 center no-repeat url('./img/wishList.png');
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    transition: .5s ease-out;

    &:hover {
        background-image: url('./img/wishlist-hover.png');
    }

    &.active {
        background-image: url('./img/wishlist-active.png');
        background-color: whiteBasic;
        border-color: gray3;
    }
}
