@value blackBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';
@value gray4 from '../../../../../css/colors.css';

.sort {
    position: absolute;
    margin: 11px 0 0 10px;

    @media (max-width: 600px) {
        width: calc(50% - 25px);
        margin: 0 0 0 20px;
    }
}

.option, .activeOption{
    position: relative;
    padding: 6px 41px 6px 16px;
    background: gray4;
    box-sizing: border-box;
    font: 300 14px/17px RoundedElegance;
    color: blackLight;
    cursor: pointer;
    overflow: hidden;

    @media (max-width: 600px) {
        padding: 6px 41px 6px 13px;
    }
}

.option {
    opacity: 0;
    max-height: 0;
    z-index: 1;
}

.optionClicked {
    opacity: 1;
    max-height: 100%;
}

.activeOption {
    position: relative;
    white-space: nowrap;

    &:before {
         content: "";
         width: 0;
         height: 0;
         margin-top: -5px;
         border-style: solid;
         border-width: 8px 5px 0 5px;
         border-color: greenBasic transparent transparent transparent;
         position: absolute;
         top: 50%;
         right: 16px;
         transition: 0.25s ease-in;
         transition-property: transform, border-color;
    }

    @media (max-width: 600px) {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 16px;
    }
}

.activeOptionClicked {
    &:before {
         transform: rotate(180deg);
         transition: 0.25s ease-out;
         border-color: blackBasic transparent transparent transparent;
    }
}
