@value whiteBasic from '../../../../../css/colors.css';
@value green from '../../../../../css/colors.css';
@value redBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value gray2 from '../../../../../css/colors.css';

.cart {
    position: relative;
    width: 18px;
    height: 16px;
    margin-right: 20px;

    @media (max-width: 1120px) {
        margin-right: 15px;
    }
}

.iconCartWrapper {
    cursor: pointer;
}

.iconCartImg {
    display: block;
}

.quantityAll {
    font-family: Rubik;
    font-size: 10px;
    position: absolute;
    right: -11px;
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 13px;
    background: green;
    color: whiteBasic;
    border-radius: 50%;
}

.popupContainer {
    position: fixed;
    z-index: 10;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.cover {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.5);
    cursor: default;
}

.popup {
    min-width: 481px;
    background: whiteBasic;
    position: absolute;
    top: 0;
    right: 60px;
    font-family: RoundedElegance;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0;
    text-align: center;
    color: blackLight;
}

.productsContainer {
    max-height: 362px;
    overflow-y: auto;
}

.cartItemWrapper {
    position: relative;
    width: 100%;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        background-color: rgba(216, 216, 216, 0.5);
        width: 100%;
        height: 1px;
    }
}

.cartItem {
    display: flex;
    padding: 20px 25px 20px 30px;
}

.productImgLink {
    margin-right: 30px;
}

.productImg {
    width: 120px;
    height: 120px;
    display: block;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.productOption {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.productNameLink {
    text-decoration: none;
}

.productName {
    font-size: 18px;
    line-height: 21px;
    color: blackLight;
    margin-right: 5px;
}

.productNumber {
    font-size: 12px;
    line-height: 14px;
    color: gray;
    margin-right: 10px;
}

.wishBtn,
.removeBtn{
    @mixin removeDefaultButton;
    padding: 0;
    cursor: pointer;
}

.wishBtn {
    margin-right: 20px;
}

.wishBtnImg,
.removeBtnImg {
    display: block;
}

.productSize {
    font-size: 14px;
    line-height: 16px;
    color: blackLight;
    margin-bottom: 6px;
}

.productQuantity {
    position: relative;
    display: inline-block;
    margin-bottom: 6px;
}

.quantitySub,
.quantityAdd {
    @mixin removeDefaultButton;
    padding: 0 5px;
    position: absolute;
    color: gray;
    font-family: RoundedElegance;
    font-size: 18px;
    line-height: 21px;
    height: 100%;
    top: 1px;
    cursor: pointer;
}

.quantitySub {
    left: 0;
}
.quantityAdd {
    right: 0;
}

.quantityInput {
    width: 69px;
    height: 22px;
    font-family: RoundedElegance;
    font-size: 18px;
    line-height: 21px;
    color: blackLight;
    text-align: center;
    border: 1px solid gray;
    box-sizing: border-box;
    outline: none;
    padding-top: 3px;
}

.productPrices {
    display: flex;
    align-items: center;
}

.productOldPrice {
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: gray;
    margin-right: 20px;
}

.productPrice {
    font-size: 24px;
    line-height: 28px;
    color: redBasic;
}

.totalPriceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 68px;
    background-color: gray2;
}

.totalPriceWrapper {
    display: flex;
    width: 330px;
    justify-content: space-between;
}

.totalPrice {
    font-size: 24px;
    line-height: 28px;
    color: blackLight;
    text-shadow: -0.2px 0 blackLight, 0 0.2px blackLight, 0.2px 0 blackLight, 0 -0.2px blackLight;
}

.cartBottomInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.checkoutBtn {
    @mixin removeDefaultButton;
    margin-top: 20px;
    background-color: blackLight;
    cursor: pointer;
    font-family: RoundedElegance;
    font-size: 18px;
    line-height: 21px;
    color: whiteBasic;
    padding: 10px 20px;
}

.continueShopping {
    @mixin removeDefaultButton;
    padding: 0;
    font-family: RoundedElegance;
    font-size: 18px;
    line-height: 21px;
    margin: 20px 0;
    color: blackLight;
    cursor: pointer;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: blackLight;
        bottom: 1px;
        left: 0;
    }
}
