@value whiteBasic from '../../../../../css/colors.css';
@value black from '../../../../../css/colors.css';

.slider {
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.banners {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    transition: left 0.7s ease-in-out;
    width: 100vw;
}

.bannerWrap {
    @media (max-width: 400px) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        min-width: 100vw;
        overflow: hidden;
    }
}

.banner {
    width: 100%;
    min-width: 100vw;
    height: 100%;

    @media (max-width: 400px) {
        min-width: auto;
        width: auto;
    }
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &:before {
        position: relative;
    }

    &:hover {
        &:before {
            top: 1px;
        }
    }

    &:active {
        &:before {
            top: 2px;
        }
    }
    
    @media (max-width: 600px) {
        opacity: 0;
    }
}

.arrowLeft {
    left: 0;

    &:before {
        content: url("./img/left.png");
    }

    &:hover {
        &:before {
            left: -1px;
        }
    }

    &:hover {
        &:before {
            left: -2px;
        }
    }
}

.arrowRight {
    right: 0;

    &:before {
        content: url("./img/right.png");
    }

    &:hover {
        &:before {
            left: 1px;
        }
    }

    &:hover {
        &:before {
            left: 2px;
        }
    }
}

.bottomBlock {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.text {
    font: 36px/41px RoundedElegance;
    color: black;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;

    @media (max-width: 800px) {
        font-size: 26px;
        line-height: 30px;
    }

    @media (max-width: 600px) {
        font-size: 16px;
        line-height: 18px;
        padding: 8px;
    }
}

.switch {
    display: flex;
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    @media (max-width: 600px) {
        margin: 5px 0;
    } 
}

.ellipse {
    cursor: pointer;
    padding: 10px;
    position: relative;
    box-sizing: content-box;
    width: 14px;
    height: 14px;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        background: whiteBasic;
        transition: background 0.25s ease-out;
        width: 14px;
        height: 14px;
        margin-left: -7px;
        margin-top: -7px;
    }

    &.active {

        &:before {
            background: black;
            transition: background 0.25s ease-in;
        }
    }

    @media (max-width: 600px) {
        padding: 5px;
        width: 8px;
        height: 8px;

        &:before {
            width: 8px;
            height: 8px;
            margin-left: -4px;
            margin-top: -4px;
        }
    }
}
