@value whiteBasic from '../../../../../css/colors.css';
@value black from '../../../../../css/colors.css';
@value gray from '../../../../../css/colors.css';
@value red from '../../../../../css/colors.css';

.wishList {
    margin-right: 20px;
    cursor: pointer;
    position: relative;

    @media (max-width: 1120px) {
        margin-right: 15px;
    }
}

.wishListWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantityAll {
    position: absolute;
    color: whiteBasic;
    font-size: 7px;
    line-height: 8px;
}

.popupContainer {
    position: fixed;
    z-index: 10;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.cover {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.5);
}

.popup {
    width: 481px;
    background: whiteBasic;
    position: absolute;
    top: 0;
    right: 60px;
    font-family: RoundedElegance;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0;
    text-align: center;
    color: black;
}

.productsContainer {
    max-height: 324px;
    overflow-y: auto;
}

.wishItemWrapper {
    position: relative;
    width: 100%;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        background-color: rgba(216, 216, 216, 0.5);
        width: 100%;
        height: 1px;
    }
}

.wishItem {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 20px 30px;
}

.productImg {
    width: 120px;
    height: 120px;
}

.productName {
    font-size: 18px;
    line-height: 21px;
    color: black;
    margin-bottom: 6px;
}

.productNumber {
    font-size: 12px;
    line-height: 14px;
    color: gray;
    margin-bottom: 18px;
}

.productSize {
    font-size: 14px;
    line-height: 16px;
    color: black;
    margin-bottom: 17px;
}

.productPrices {
    display: flex;
    align-items: center;
}

.productOldPrice {
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: gray;
    margin-right: 20px;
}

.productPrice {
    font-size: 24px;
    line-height: 28px;
    color: red;
}

.productButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.removeBtn,
.cartBtn {
    @mixin removeDefaultButton;
    padding: 0;
}

.removeBtnImg {
    display: block;
}

.cartBtn {
    font-family: RoundedElegance;
    font-size: 16px;
    line-height: 18px;
    color: whiteBasic;
    padding: 10px 15px;
    background-color: black;
}

.continueShopping {
    @mixin removeDefaultButton;
    padding: 0;
    font-family: RoundedElegance;
    font-size: 18px;
    line-height: 21px;
    margin: 20px 0;
    color: black;
    cursor: pointer;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: black;
        bottom: 1px;
        left: 0;
    }
}
