@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';

.pagination {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pageLink {
    @mixin removeDefaultButton;
    padding: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin-right: 20px;
    background-color: whiteBasic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blackLight;
    font-family: GilroyRegular;
    font-size: 18px;
    line-height: 21px;

    &:first-of-type {
        margin-left: 50px;
    }

    &:last-of-type {
        margin-right: 50px;
    }

    &.active {
        background-color: blackLight;
        color: whiteBasic;
    }
}

.leftArrow,
.rightArrow {
    background: url('./img/arrow.svg');
    width: 12px;
    height: 18px;
    cursor: pointer;
}

.rightArrow {
    transform: rotate(-180deg);
}
