@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';
@value gray1 from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';

.filter {
    &.active {
        .title {
            background: greenBasic;
            color: whiteBasic;
            transition: 0.25s ease-out;

            &:before {
                transform: rotate(180deg);
                transition: 0.25s ease-out;
                border-color: whiteBasic transparent transparent transparent;
            }
        }

        .sliderWrapper {
            z-index: 1;
            max-height: 500px;
            transition: max-height 0.25s ease-in;
        }
    }

    @media (max-width: 600px) {
        position: relative;

        &:before {
             content: '';
             position: absolute;
             left: -16px;
             bottom: 0;
             width: calc(100% + 32px);
             height: 1px;
             background: rgba(216, 216, 216, 0.5);
        }

        &.active {
            .title {
                background: none;
                color: blackLight;
            }
        }
    }
}

.title {
    box-sizing: border-box;
    font: 300 14px/16px RoundedElegance;
    color: blackLight;
    padding: 17px 45px 17px 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: 0.25s ease-in;
    transition-property: background, color;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: greenBasic transparent transparent  transparent;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -5px;
        transition: 0.25s ease-in;
        transition-property: transform, border-color;
    }

    @media (max-width: 600px) {
        padding: 0 34px 0 0;
        width: 100%;
        font-size: 18px;
        line-height: 21px;

        &:before {
            content: url("../FilterCheckBox/img/down.svg");
            margin-top: -12px;
            right: 0;
            border: none;
            width: auto;
            height: auto;
        }
    }
}

.activeValue {
    font: 14px/16px RoundedElegance;;
    color: gray7;

    @media (min-width: 601px) {
        display: none;
    }
}

.activeValueText {
    padding-top: 11px;
}

.sliderWrapper {
    z-index: -1;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    padding: 0 25px;
    transition: max-height 0.25s ease-out;
    background: greenBasic;
    min-width: 242px;

    @media (max-width: 600px) {
        position: relative;
        top: 0;
        left: -16px;
        width: calc(100% + 32px);
        padding: 0 16px;
        margin-top: 15px;
    }
}

.slider {
    width: 100%;
    height: 4px;
    background: whiteBasic;
    border-radius: 7px;
    margin: 25px 0 5px;
    position: relative;
}

.activeSquare {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 14px;
    border-radius: 7px;
    background: greenBasic;
}

.minCurrentValue,
.maxCurrentValue {
    position: absolute;
    top: -20px;

    &:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: whiteBasic;
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid greenBasic;
        top: 15px;
    }
}

.minCurrentValue {
    left: -7px;

    &:before {
        left: 0;
    }
}

.maxCurrentValue {
    right: -7px;

    &:before {
        right: 0;
    }
}

.limits {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.inputRange {
    height: 1rem;
    position: relative;
    margin: 15px 0 17px 0;
    padding: 0 6px;
}

.label, .minLabel, .maxLabel {
    display: none;
}

.customLabels {
    margin-top: 17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 16px;
        margin-left: -8px;
        height: 1px;
        background: whiteBasic;
    }
}

.customLabelWrap {
    border: 1px solid whiteBasic;
    border-radius: 2px;
    background-color: greenBasic;
    font: 14px/16px RoundedElegance;
    color: whiteBasic;
    position: relative;
    z-index: 1;
}

.customLabel {
    width: 74px;
    padding: 4px 6px 3px 6px;
}

.dimension {
    position: absolute;
    right: 6px;
    top: 4px;
    z-index: -1;

    @media (max-width: 600px) {
        z-index: auto;
    }
}

.track {
    left: 0;
    margin-top: -0.15rem;
    right: 0;
    top: 50%;
    background: gray1;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
}

.activeTrack {
    background: whiteBasic;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
}

.sliderContainer {
    width: 16px;
    height: 16px;
}

.slider {
    appearance: none;
    background: whiteBasic;
    border: 2px solid greenBasic;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    width: 1rem;
}
