@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value redBasic from '../../../../../css/colors.css';
@value gray0 from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';

.product {
    width: 288px;
    min-width: 288px;
    height: 391px;
    max-height: 401px;
    margin: 30px 26px 2px 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
    background: whiteBasic;
    text-decoration: none;
    outline: 2px solid transparent;
    transition: .3s ease-out;

    &:hover {
        outline-color: greenBasic;
    }

    @media (max-width: 640px) {
        width: calc(50% - 10px);
        min-width: 100px;
        height: auto;
        margin: 20px 0 0 0;
    }

    &.discount {
        background: gray3;
    }

    &.sliderProduct {
        @media (max-width: 760px) {
            width: 200px;
            min-width: 200px;
            height: auto;

            .label {
                font-size: 14px;
                line-height: 16px;
                padding: 3px 10px;
            }

            .existText {
                font-size: 13px;
                line-height: 15px;
                padding: 7px 0 4px 0;
            }

            .bottomPanel {
                padding: 0 9px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .productName {
                font-size: 13px;
                line-height: 15px;
                padding: 7px 0 5px 0;
            }

            .price {
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 7px;
            }

            .priceOld {
                font-size: 10px;
                line-height: 11px;
                bottom: 9px;
                left: 9px;
            }
        }

        @media (max-width: 760px) {
            width: 200px;
            min-width: 200px;
            margin: 20px 0 0 0;

            .imgWrap {
                min-height: 200px;
            }
        }

        @media (max-width: 560px) {
            width: 180px;
            min-width: 180px;

            .imgWrap {
                min-height: 180px;
            }
        }

        @media (max-width: 410px) {
            width: 154px;
            min-width: 154px;

            .imgWrap {
                min-height: 154px;
            }
        }

        @media (max-width: 350px) {
            width: 134px;
            min-width: 134px;

            .imgWrap {
                min-height: 134px;
            }
        }
    }
}

.imgWrap {
    display: flex;
    height: 100%;
    align-items: center;
    padding-bottom: 100%;
    min-height: 134px;
}

.img {
    width: 100%;
    height: auto;
    pointer-events: none;
    margin-bottom: -100%;
}

.labels {
    position: absolute;
    left: 0;
    top: 0;
}

.label {
    font: 18px/21px GilroyRegular;
    padding: 0 18px;
    background: greenBasic;
    color: whiteBasic;
    margin-top: 10px;
    text-align: center;

    @media (max-width: 640px) {
        font-size: 14px;
        line-height: 16px;
        padding: 3px 10px;
    }
}

.percentage{
    font: 18px/21px HelveticaNeueCyr;
}

.discount {
    color: redBasic;
    background: whiteBasic;
}

.share {
    background: redBasic;
}

.bottomPanel {
    position: relative;

    @media (max-width: 640px) {
        padding: 0 9px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &:hover{
        .hoverInformation{
            transition: 1s;
            max-height: 1000px;
            padding: 15px;
        }
    }
}

.existText {
    font: 16px/16px GilroyRegular;
    text-align: center;
    color: #25716C;
    padding: 10px 0;
}

.notExist {
    color: #DC4E41;
}

.productName {
    font: 18px/21px GilroyRegular;
    color: blackLight;
    padding: 5px 10px;
    text-align: center;
    text-decoration: underline transparent;
    transition: .3s ease-out;

    .product:hover & {
        color: greenBasic;
        text-decoration-color: greenBasic;
    }

    @media (max-width: 640px) {
        font-size: 13px;
        line-height: 15px;
        padding: 7px 0 5px 0;
    }
}

.price {
    font: 18px/21px GilroyRegular;
    color: blackLight;
    margin-bottom: 15px;
    text-align: center;

    @media (max-width: 640px) {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 7px;
    }
}

.discountPrice{
    color: redBasic;
}

.priceOld {
    font: 15px/17px GilroyRegular;
    text-decoration-line: line-through;
    color: gray0;
    position: absolute;
    bottom: 17px;
    left: 50px;

    @media (max-width: 640px) {
        font-size: 10px;
        line-height: 11px;
        bottom: 9px;
        left: 9px;
    }
}

.hoverInformation{
    transition: 1s;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    background: whiteBasic;
    /* padding: 15px; */
}

.btnBuy {
    font: 24px/28px GilroyRegular;
    color: whiteBasic;
    padding: 6px 10px;
    min-width: 202px;
    border: 1px solid transparent;
    outline: none;
    background: blackLight;
    cursor: pointer;
    transition: .5s ease-out;

    &:hover {
        background-color: greenBasic;
    }

    &.active {
        color: blackLight;
        background-color: whiteBasic;
        border-color: greenBasic;
    }
}