@value whiteBasic from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';
@value red from '../../../../../css/colors.css';
@value gray from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';
@value green from '../../../../../css/colors.css';

.product {
    width: 288px;
    min-width: 288px;
    height: 365px;
    max-height: 365px;
    margin: 30px 30px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background: whiteBasic;
    text-decoration: none;
    color: blackBasic;

    @media (max-width: 640px) {
        width: calc(50% - 10px);
        min-width: 100px;
        height: auto;
        margin: 20px 0 0 0;
    }

    &.discount {
        background: gray3;
    }

    &.sliderProduct {
        @media (max-width: 760px) {
            width: 200px;
            min-width: 200px;
            height: auto;

            .label {
                font-size: 14px;
                line-height: 16px;
                padding: 3px 10px;
            }

            .bottomPanel {
                padding: 0 9px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .title {
                font-size: 13px;
                line-height: 15px;
                padding: 7px 0 5px 0;
            }

            .price {
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 7px;
            }

            .priceOld {
                font-size: 10px;
                line-height: 11px;
                bottom: 9px;
                left: 9px;
            }
        }

        @media (max-width: 760px) {
            width: 200px;
            min-width: 200px;
            margin: 20px 0 0 0;
        }

        @media (max-width: 560px) {
            width: 180px;
            min-width: 180px;
        }

        @media (max-width: 410px) {
            width: 154px;
            min-width: 154px;
        }

        @media (max-width: 350px) {
            width: 134px;
            min-width: 134px;
        }
    }
}

.img {
    width: 100%;
    height: auto;
}

.labels {
    position: absolute;
    left: 0;
    top: 0;
}

.label {
    font: 18px/21px RoundedElegance;
    padding: 0 18px;
    background: green;
    color: whiteBasic;
    margin-top: 8px;

    @media (max-width: 640px) {
        font-size: 14px;
        line-height: 16px;
        padding: 3px 10px;
    }
}
.discount {
    color: red;
    background: whiteBasic;
}

.bottomPanel {
    position: relative;

    @media (max-width: 640px) {
        padding: 0 9px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.title {
    font: 18px/21px RoundedElegance;
    color: blackBasic;
    padding: 5px 10px;
    text-align: center;

    @media (max-width: 640px) {
        font-size: 13px;
        line-height: 15px;
        padding: 7px 0 5px 0;
    }
}

.price {
    font: 18px/21px RoundedElegance;
    color: red;
    margin-bottom: 15px;
    text-align: center;

    @media (max-width: 640px) {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 7px;
    }
}

.priceOld {
    font: 15px/17px RoundedElegance;
    text-decoration-line: line-through;
    color: gray;
    position: absolute;
    bottom: 17px;
    left: 50px;

    @media (max-width: 640px) {
        font-size: 10px;
        line-height: 11px;
        bottom: 9px;
        left: 9px;
    }
}
