@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('./font/HelveticaNeueCyr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url('./font/HelveticaNeueCyr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RoundedElegance';
  src: url('./font/RoundedElegance.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('./font/Rubik-Regular.ttf') format('truetype');
}
