@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('./font/HelveticaNeueCyr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url('./font/HelveticaNeueCyr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GilroyRegular';
  src: url('./font/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('./font/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('./font/Rubik-Regular.ttf') format('truetype');
}
