@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value gray0 from '../../../../../css/colors.css';
@value gray2 from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';
@value gray6 from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';
@value redBasic from '../../../../../css/colors.css';

input,
textarea {
    @mixin removeDefaultButton;
    outline: none;
    user-select: auto;
}

.checkoutPage {
    background: gray3;
    padding-bottom: 30px;

    @media (max-width: 450px) {
        padding-bottom: 20px;
    }
}

.content {
    background: whiteBasic;
    padding-bottom: 30px;

    @media (max-width: 450px) {
        padding-bottom: 20px;
    }
}

.contentTop {
    max-width: 978px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px 16px 0 16px;
    box-sizing: content-box;

    @media (max-width: 750px) {
        flex-direction: column;
    }

    @media (max-width: 450px) {
        padding-top: 20px;
    }
}

.checkout {
    width: 100%;
    max-width: 406px;
    padding-right: 16px;
    box-sizing: content-box;

    @media (max-width: 870px) {
        padding-right: 40px;
    }

    @media (max-width: 750px) {
        padding-right: 0px;
        max-width: 100%;
        margin-top: 20px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.h2 {
    font: 24px/28px GilroyRegular;
    color: blackLight;
    padding-bottom: 5px;
    border-bottom: 2px solid blackLight;
    display: inline-block;

    @media (max-width: 450px) {
        margin-bottom: 5px;
    }
}

.infoInput,
.infoTextArea {
    font: 16px/24px GilroyRegular;
    color: blackLight;
    background: whiteBasic;
    border: 1px solid gray0;
    width: 100%;
    padding: 7px 9px 5px 9px;
    margin-top: 20px;

    &:placeholder {
        color: gray0;
    }

    @media (max-width: 450px) {
        margin-top: 15px;
    }
}

.infoTextArea {
    height: 115px;
    resize: none;
}

.checkoutInfoInputError {
    border-color: redBasic;
}

.deliveryAndPayment {
    display: flex;
    justify-content: space-between;

    @media (max-width: 870px) and (min-width: 751px) {
        flex-direction: column;
    }

    @media (max-width: 750px) {
        width: 100%;
    }

    @media (max-width: 450px) {
        flex-direction: column;
    }
}

.delivery {
    width: 100%;
    max-width: 218px;
    padding-right: 10px;

    @media (max-width: 870px) and (min-width: 751px) {
        max-width: 100%;
        padding-right: 0;
    }

    @media (max-width: 450px) {
        max-width: 100%;
    }
}

.h3 {
    font: 18px/21px GilroyRegular;
    color: blackLight;
    margin-top: 20px;
    padding-bottom: 5px;

    @media (max-width: 870px) and (min-width: 751px) {
        text-align: center;
    }

    @media (max-width: 450px) {
        text-align: center;
    }
}

.radioLabel {
    font: 16px/18px GilroyRegular;
    color: gray6;
    color: rgba(35, 35, 35, 0.3);
    padding: 0 0 0 22px;
    margin-top: 15px;
    display: block;
    position: relative;
    cursor: pointer;
}

.radioInput {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;

    &:checked {
        + .radioContent {
            color: gray6;

            .radioCheckmark {
                &:before {
                    background: blackLight;
                }
            }
        }
    }
}

.radioDescription {
    font-size: 12px;
    line-height: 18px;
    padding-top: 3px;
}

.radioCheckmark {
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background: gray3;
    border-radius: 50%;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 10px;
        height: 10px;
        margin-top: -5px;
        margin-left: -5px;
        transition: background 0.25s ease-in;
        background: gray3;
        border-radius: 50%;
    }
}

.details {
    @media (max-width: 750px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.products {
    width: 100%;
    font-family: GilroyRegular;
}

.priceWrap {
    margin-top: 20px;
    padding-bottom: 20px;
    background: gray2;

    &.mobile {
        display: none;
    }

    @media (max-width: 750px) {
        display: none;

        &.mobile {
            display: block;
        }
    }

    @media (max-width: 450px) {
        width: calc(100% + 32px);
        position: relative;
        left: -16px;
    }
}

.priceRow {
    font: 18px/21px GilroyRegular;
    color: blackLight;
    padding: 20px 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.priceTotal {
    font: 24px/28px GilroyRegular;
    color: blackLight;
    margin-top: 23px;
    border-top: 1px solid gray0;
    padding: 23px 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.buttonSubmit {
    font: 18px/21px GilroyRegular;
    padding: 10px 20px;
    border: none;
    margin: 30px auto 0 auto;
    color: whiteBasic;
    background: blackLight;
    min-width: 200px;
    display: block;
    cursor: pointer;
    transition: .5s ease-out;

    &:hover {
        background-color: greenBasic;
    }

    @media (max-width: 450px) {
        margin-top: 20px;
    }
}

.noItemsContainerWrap {
    height: 100%;
}

.noItemsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 5%;
    align-items: center;
}

.noItemsText {
    font-family: GilroyRegular;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.noItemsTextLink {
    text-decoration: none;
    color: blackLight;

    @media (max-width: 600px) {
        font-size: 26px;
    }
}

.noItemsTextButton {
    font: 18px/21px GilroyRegular;
    padding: 10px 20px;
    border: none;
    margin: 30px auto 0 auto;
    color: whiteBasic;
    background: blackLight;
    min-width: 200px;
    display: block;
    cursor: pointer;
    transition: .5s ease-out;

    &:hover {
        background-color: greenBasic;
    }
}
