@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value greenBasic from '../../../../../css/colors.css';

.langs {
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 58px;

    position: relative;

    &.active {
        .additionalLangs {
            max-height: 500px;
            transition: max-height 0.2s ease-in;
        }

        .activeLang:before {
            transform: rotate(180deg);
            transition: transform 0.2s ease-out;
        }
    }
}

.lang {
    color: whiteBasic;
    font-family: GilroyRegular;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 0 10px 10px;
    background: blackLight;
    border-radius: 0 0 5px 5px;
}

.activeLang {
    display: block;
    position: relative;
    order: -1;
    border-radius: 0;

    &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -6px;
        width: 10px;
        height: 10px;
        background: center/cover url('./img/downGreen.svg');
        transition: transform 0.2s ease-in;
    }
}

.additionalLangs {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    position: absolute;
    top: 43px;
    width: 100%;

    .lang:hover {
        color: greenBasic;
    }
}

.mobileLangs {
    position: static;
    flex-direction: row;
    margin-right: 10px;
    margin-top: 0;
    width: auto;
    display: flex !important;

    .lang {
        padding: 5px 6px;
    }

    .activeLang {
        color: greenBasic;

        &:before {
            display: none;
        }
    }

    .additionalLangs {
        max-height: 100%;
    }
}
