@value whiteBasic from '../../../../../css/colors.css';
@value blackLight from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';

.partners {
    height: 100%;
    background-color: gray3;
    padding-bottom: 40px;

    @media (max-width: 600px) {
        padding-bottom: 30px;
    }
}

.partnersContainer {
    background-color: whiteBasic;
    height: calc(100% - 40px);
}

.content {
    max-width: 1360px;
    margin: 0 auto;
    font-family: RoundedElegance;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 600px) {
        align-items: stretch;
        padding: 0 16px;
    }
}

.title {
    margin: 30px auto 0;
    font-size: 24px;
    line-height: 28px;
    color: blackLight;
    text-shadow: -0.2px 0 blackLight, 0 0.2px blackLight, 0.2px 0 blackLight, 0 -0.2px blackLight;
    position: relative;

    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 23px;
    }

    @media (max-width: 600px) {
        margin: 20px auto 0 0;
        width: 100%;
    }

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: calc(100% + 92px);
        width: 287px;
        height: 2px;
        background-color: blackLight;

        @media (max-width: 950px) {
            width: 200px;
        }

        @media (max-width: 768px) {
            width: 180px;
        }

        @media (max-width: 680px) {
            width: 130px;
        }

        @media (max-width: 600px) {
            width: 100px;
            right: 0;
        }

        @media (max-width: 359px) {
            width: 60px;
        }
    }
}

.partnersWrapper {
    max-width: 1240px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 600px) {
        margin: 20px 0 30px;
    }
}

.partnerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 60px;

    @media (max-width: 1170px) {
        width: 33.333%;
    }

    @media (max-width: 768px) {
        width: 50%;
    }

    @media (max-width: 600px) {
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.partnerName {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: blackLight;
    text-shadow: -0.2px 0 blackLight, 0 0.2px blackLight, 0.2px 0 blackLight, 0 -0.2px blackLight;
}

.logoWrapper {
    position: relative;
    margin-bottom: 40px;

    &:after {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        width: 109px;
        height: 2px;
        background-color: blackLight;
    }
}

.logoWrapper {
    display: block;
}

.partnerDescription {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(35, 35, 35, 0.7);
    max-width: 207px;
    width: 100%;
}
