@value whiteBasic from '../../../../../css/colors.css';
@value black from '../../../../../css/colors.css';
@value gray5 from '../../../../../css/colors.css';

.partners {
    position: relative;
    height: 100%;
}

.partnersContainer {
    background-color: whiteBasic;
}

.content {
    max-width: 1360px;
    margin: 0 auto;
    font-family: RoundedElegance;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 600px) {
        align-items: stretch;
        padding: 0 16px;
    }
}

.title {
    margin: 30px auto 0;
    font-size: 24px;
    line-height: 28px;
    text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
    position: relative;

    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 23px;
    }

    @media (max-width: 600px) {
        margin: 20px auto 0 0;
        width: 100%;
    }

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: calc(100% + 92px);
        width: 287px;
        height: 2px;
        background-color: black;

        @media (max-width: 950px) {
            width: 200px;
        }

        @media (max-width: 768px) {
            width: 180px;
        }

        @media (max-width: 680px) {
            width: 130px;
        }

        @media (max-width: 600px) {
            width: 100px;
            right: 0;
        }

        @media (max-width: 359px) {
            width: 60px;
        }
    }
}

.partnersWrapper {
    max-width: 1240px;
    margin-top: 60px;
    display: flex;

    @media (max-width: 1170px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (max-width: 600px) {
        padding: 20px 0 30px;
    }
}

.partnerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 51px;

    &:last-child {
        margin-right: 0;

        @media (max-width: 600px) {
            margin-bottom: 0;
        }
    }

    @media (max-width: 1340px) {
        margin-right: 35px;
    }

    @media (max-width: 1170px) {
        margin-right: 0;
        margin-bottom: 60px;
        width: 33.333%;
    }

    @media (max-width: 768px) {
        width: 50%;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}

.partnerName {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
}

.partnerLogoWrapper {
    position: relative;
    margin-bottom: 40px;

    &:after {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        width: 109px;
        height: 2px;
        background-color: black;
    }
}

.partnerLogo {
    display: block;
}

.partnerText {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(35, 35, 35, 0.7);
    max-width: 207px;
    width: 100%;
}

.bottomBackground {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: gray5;
    bottom: 0;

    @media (max-width: 600px) {
        height: 30px;
    }
}
