@value whiteBasic from '../../../../../css/colors.css';

.root {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow-y: auto;
}

.cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 66, 66, 0.3);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.popupWrap {
    height: 100%;
    text-align: center;
    &:after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: '';
    }
}

.popup {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    padding: 30px;
    @media (max-width: 767px) {
        padding: 0;
    }
}

.popupContent {
    position: relative;
    background: whiteBasic;
    font: 18px/21px GilroyRegular;
    display: flex;
    width: 100%;
    height: 370px;
    max-width: 640px;
    margin: 0 auto;
    z-index: 110;
    @media (max-width: 767px) {
        height: 100vh;
        max-width: 100%;
    }
}

.escape {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    user-select: none;
}

.userInfo {
    width: 385px;
    @media (max-width: 767px) {
        width: calc(114/360 * 100%);
    }
}

.title {
    font: 32px/39px GilroyRegular;
    font-weight: bold;
    margin-top: 40px;
    @media (max-width: 767px) {
        width: 100%;
        position: absolute;
        top: calc(60/640 * 100vh);
        left: 0;
        margin: 0;
    }
}

.dataField {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    @media (max-width: 767px) {
        width: 100%;
        position: absolute;
        top: calc(320/640 * 100vh);
        left: 0;
    }
}
.form {
    position: relative;
    width: calc(274/385 * 100%);
    height: 250px;
    overflow: hidden;
    @media (max-width: 767px) {
        height: calc(272/640 * 100vh);
        width: calc(328/360 * 100%);
    }

    input {
        font: 16px/19px GilroyRegular;
        color: #232323;
        width: 100%;
        height: 45px;
        margin-top: 24px;
        &:first-child {
            margin-top: 29px;
        }
        padding-top: 20px;
        border: none;
        outline: none;
        @media (max-width: 767px) {
            &:first-child {
                margin-top: 0;
            }
        }
    }

    input:focus + .labelName .contentName,
    input:valid + .labelName .contentName,
    input:focus + .labelPhone .contentName,
    input:valid + .labelPhone .contentName {
        transform: translateY(-150%);
        font: 12px/14px GilroyRegular;
        color: #919191;
    }
}
label {
    position: absolute;
    left: 0;
    width: 100%;
    height: 45px;
    pointer-events: none;
    border-bottom: 1px solid #000;
}
.labelName {
    margin-top: 29px;
    @media (max-width: 767px) {
        margin-top: 0px;
    }
}
.labelPhone {
    margin-top: 24px;
}
.errorBorder {
    border-bottom: 1px solid red;
}
.errorMessage {
    margin-top: 10px;
    color: red;
    font: 13px/15px GilroyRegular;
    text-align: left;
}

.submit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font: 16px/19px GilroyRegular;
    letter-spacing: 0.02em;
    border: none;
    color: #FFF;
    background: #232323;
    padding: 13px 87px;
    cursor: pointer;
}
.successfulSubmit {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    font-size: 0;
    outline: none;
    border: 1px solid black;
    background: #FFF;
    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    @media (max-width: 767px) {
        background: transparent;
    }
}
.contentName {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.reference {
    padding: 62px 60px 0px 25px;
    width: 255px;
    background: url('./img/banner.png');
    @media (max-width: 767px) {
        width: calc(246/360 * 100%);
        padding: 123px 32px 0px 16px;
    }
}
.referenceInfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.line {
    margin-bottom: 44px;
    height: 2px;
    width: 100%;
    background: #FFF;
    @media (max-width: 767px) {
        margin-bottom: 24px;
    }
}
.referenceText {
    font: 14px/21px GilroyRegular;
    letter-spacing: 0.02em;
    color: #FFF;
    text-align: left;

    a {
        color: whiteBasic;
    }
}
