@value blackLight from '../../../../../css/colors.css';
@value blackLighter from '../../../../../css/colors.css';
@value gray0 from '../../../../../css/colors.css';

.root {
    &.mobile {
        display: none;
    }

    @media (max-width: 1000px) {
        display: none;
        width: 100%;
        max-width: 680px;

        &.mobile {
            display: block;
        }
    }
}

.name {
    font: 36px/54px GilroyRegular;
    color: blackLight;

    @media (max-width: 1000px) {
        text-align: center;
    }

    @media (max-width: 600px) {
        font-size: 24px;
        line-height: 36px;
    }

}

.warrantyArticleWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;

    @media (max-width: 1000px) {
        margin-top: 10px;
    }
}

.warranty {
    font: 16px/18px GilroyRegular;
    color: blackLighter;
    padding-right: 10px;

    @media (max-width: 600px) {
        font-size: 12px;
        line-height: 14px;
    }
}

.article {
    font: 14px/16px GilroyRegular;
    text-transform: capitalize;
    color: gray0;

    @media (max-width: 600px) {
        font-size: 12px;
        line-height: 14px;
    }
}
