@value whiteBasic from '../../../../../css/colors.css';
@value black from '../../../../../css/colors.css';
@value green from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';

.slider {
    padding: 0 60px;
    margin: 0 auto;
    max-width: 1242px;
    box-sizing: content-box;
    position: relative;

    @media (max-width: 1360px) {
        width: 924px;
    }

    @media (max-width: 1042px) and (min-width: 1021px) {
        padding: 0 48px;
    }

    @media (max-width: 1020px) {
        width: 606px;
    }
}

.content {
    display: flex;
    overflow: hidden;
    position: relative;
}

.products {
    display: flex;
    width: 100%;
    min-width: 100%;
    position: relative;
    transition: left 0.7s ease-in-out;
}

.productsPack {
    display: flex;
    width: 100%;
}

.left,
.right {
    position: absolute;
    width: 60px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    &:before {
        position: relative;
    }

    &:hover {
        &:before {
            top: 1px;
        }
    }

    &:active {
        &:before {
            top: 2px;
        }
    }

    @media (max-width: 1042px) and (min-width: 1021px) {
        width: 38px;
    }
}

.left {
    left: 0;

    &:before {
        content: url("./img/left.png");
    }

    &:hover {
        &:before {
            left: -1px;
        }
    }

    &:hover {
        &:before {
            left: -2px;
        }
    }
}

.right {
    right: 0;

    &:before {
        content: url("./img/right.png");
    }

    &:hover {
        &:before {
            left: 1px;
        }
    }

    &:hover {
        &:before {
            left: 2px;
        }
    }
}


.switch {
    display: flex;
    padding: 10px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ellipse {
    cursor: pointer;
    padding: 10px 12px;
    position: relative;
    box-sizing: content-box;
    width: 40px;
    height: 6px;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: whiteBasic;
        transition: background 0.25s ease-out;
        width: 40px;
        height: 6px;
        margin-left: -20px;
        margin-top: -3px;
    }

    &.active {
        &:before {
            background: green;
            transition: background 0.25s ease-in;
        }
    }
}

.discount {
    .ellipse {
        &:before {
            background: gray3;
        }

        &.active {
            &:before {
                background: green;
            }
        }
    }
}