@value blackLight from '../../../../../css/colors.css';
@value gray1 from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';

.breadcrumbsWrap {
  padding: 6px 16px;
  box-sizing: content-box;
  background: gray3;
}

.breadcrumbs {
  margin: 0 auto;
  max-width: 1240px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray1;
}

.breadcrumb {
  font: 14px/28px GilroyRegular;
  color: blackLight;
  text-decoration: none;
  white-space: nowrap;

  &:before {
    content: "/";
    margin: 0 4px;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }

  &:last-child {
    color: gray1;
    cursor: default;
  }
}
