@value blackBasic from '../../../../../css/colors.css';
@value gray1 from '../../../../../css/colors.css';
@value gray3 from '../../../../../css/colors.css';

.breadcrumbs {
  margin: 0 auto;
  max-width: 1240px;
  padding: 10px 16px;
  box-sizing: content-box;
  background: gray3;

  @media (max-width: 960px) {
    padding-right: 140px;
  }
}

.breadcrumb {
  font: 14px/20px RoundedElegance;
  color: blackBasic;
  text-decoration: none;
  white-space: nowrap;

  &:before {
    content: "/";
    margin: 0 4px;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }

  &:last-child {
    color: gray1;
  }
}
